#github-badge {
    width: 200px;
}

#wrapper {
    width: 100%;
}

#mainContent {
    width: 960px;
    margin: 0 auto;
    background-color: white;
    height: 100%;
}

#codebork, #reelcritic {
    margin-bottom: 1em;
}

.column {
    margin: 5px;
    padding: 5px;
    width: 300px;
    float: left;
}

.doubleColumn {
    width: 620px;
    float: left;
}

.tripleColumn {
    width: 940px;
    clear: both;
}