body {
	font-family: Arial, Helvetica, sans-serif;
	padding: 1em;
}

h1 {
	font-size: 200%;
	padding: 1em 0 2em;
	color: #2779aa;
}

h2 {
	font-size: 175%;
	padding: 0.9em 0 1.75em;
	color: #005283;
}

h3 {
	font-size: 150%;
	padding: 0.75em 0 1.5em;
}

h4, h5, h6 {
	font-size: 100%;
	padding: 0.5em 0 1em;
}

p {
	font-family: 	
}
